Ønsket brugernavn: <input type="text"><br>
*Fulde navn: <input type="text"><br>
*Kodeord: <input type="password"><br>
*CPR-nummer: <input type="password"> (Indtast uden bindestreg, f.eks. 1234567890)<br>
*Adresse: <input type="text"><br>
*Postnummer: <input type="number" min="0555" max="9990"><br>
*By: <input type="text"><br>
<h3>Brugertype</h3>
<form action="">
  <input type="radio" name="usertype" value="privat">Privatperson<br>
  <input type="radio" name="usertype" value="erhverv">Virksomhed<br>
  <input type="radio" name="usertype" value="amateur">Ikke professionel sportsudøver<br>
  <input type="radio" name="usertype" value="pro">professionel sportsudøver<br>
</form>