<div class="credentials">
  <div class="registration-text">
    Ønsket brugernavn: <br> *Fulde navn: <br> *Kodeord: <br> *CPR/CVR-nummer: <br> *Adresse: <br> *Postnummer: <br> *By: <br> *Land: <br> *Email: <br> *Mobil nr: <br>
  </div>
  <div class="registration-buttons">
    <input type="text" name="brugernavn"><br>
    <input type="text" name="fuldeNavn"><br>
    <input type="password" name="kodeord"><br>
    <input type="password" name="borgernummer"> (Indtast uden bindestreg, f.eks. 1234567890)<br>
    <input type="text" name="adresse"><br>
    <input type="text" name="postnummer"><br>
    <input type="text" name="by"><br>
    <input type="text" name="land"><br>
    <input type="text" name="email"><br>
    <input type="text" name="tlf"><br>
  </div>
</div>
<h3>Brugertype</h3>
<form action="">
  <input type="radio" name="usertype" value="privat">Privatperson<br>
  <input type="radio" name="usertype" value="erhverv">Virksomhed<br>
  <input type="radio" name="usertype" value="amateur">Ikke professionel sportsudøver<br>
  <input type="radio" name="usertype" value="pro">professionel sportsudøver<br>
</form>
<br>
<button click="registrer()">Registrer</button>