<h1>Login</h1>
<div class="login">
  Brugernavn eller emailadresse<br>
  <input type="text"><br>
  Kodeord<br>
  <input type="password"><br>
</div>
<button (click)="login()">Log ind</button><br>
Glemt adgangskode, tryk <a href="">her</a><br>
Hvis du ikke har en konto, kan du klikke <a href="">her</a> for at oprette en.<br><br>
<div class="beskrivelse">
Ét samarbejde med sponsorweb gør din hverdag meget nemmere. Vi klarer al håndtering.<br>
Sponsor og udøvere kan selv bestemme hvorledes et samarbejde skal strikkes sammen i<br>
vores system. Vi ser frem til et godt og langt samarbejde med både sponsor og udøvere.<br><br>
Alle udøvere er unikke, så husk at støtte dem til at nå deres mål.<br><br>
Vil du have din reklame på vores hjemmeside, så tryk <a href="">her</a><br><br>
<div class="privatliv">
Vi deler IKKE personlige oplysninger med 3.part. Alle oplysninger bliver mellem sponsor og udøver.<br>
Sponsoren kan vælge at være anonym overfor udøveren.
</div>

</div>


